<body>
    <form>
        <input type="number" id="inputGoal" name="inputGoal" placeholder="Savings Goal" min="1" [(ngModel)]='goal'>
        <br>
        <!--<div *ngIf="this.isButtonVisible" (click)="this.isButtonVisible = false">-->
            <input type="submit" id="creationButton" value="Generate!" (click)="displayBars()"><br>
        <!--</div>-->
    </form>

    <div id="chart-out">
        <div id="chart-in">
        </div>
    </div>

    <link rel="stylesheet" href="savings-graph.component.css">

    <br><button [routerLink]="['/savingsgraph']" (click)="exit()">Reset</button>

    <br><button id="returnButton" [routerLink]="['/userpage']">Return</button><br>
</body>