#TitleBar
{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 50px;
    margin-top: 0px;
    -webkit-text-stroke: 0.5px lightgreen;
    -webkit-text-fill-color: rgb(20, 75, 20);
    background-color: rgb(20, 75, 20);
}

.Display
{
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    background-color: lightgreen;
    border-radius: 20px;
    width: 400px;
    padding: 25px;
    margin: 25px;
}

.FormItems input
{
    width: 220px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}

.ManagerItems input
{
    width: 155px;
    height: 35px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}

#NewAccount
{
    font-weight: lighter;
    font-size: 25px;
}

.FormSubtext
{
    font-weight: lighter;
    font-size: 25px;
}

select
{
    text-align: center;
    width: 200px;
    font-size: 20px;
}

/* Toggle this on and off if user selected "Other" */
#CreateOtherExpense
{
    display: none;
}