body
{
    margin-top: 150px;
}

.Display
{
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    background-color: lightgreen;
    border-radius: 20px;
    width: 400px;
    padding: 25px;
    margin: 225px;
    margin-top: 20px;
}

.FormItems input
{
    width: 220px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}

.clickableText
{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

input[type=submit]
{
    cursor: pointer;
}

.Error
{
    font-size: 20px;
    color: darkred;
}