<!-- Income options (View or Create) -->
<div class="Display" style="float: left">
    <p>
        Income Manager
    </p>

    <div class="ManagerItems">
        <input type="button" id="viewIncome" value="My Income" (click)="getIncomes()">
        <input type="button" id="createIncome" value="New Income">
    </div>
</div>

<!-- Create new income -->
<div class="Display" style = "float: right">
    <p>
        Enter your new<br>
        income information!
    </p>

    <form class="FormItems">
        <div class="FormSubtext">
            <label for="expenseName">Choose an income:</label>
            <br>
            <select id="incomeName" name="incomeName" [(ngModel)]='incomeId'>
                <option>[Incomes]</option>
                <option value="1">Wages</option>
                <option value="2">Salary</option>
                <option value="3">Commission</option>
                <option value="4">Interest</option>
                <option value="5">Selling</option>
                <option value="6">Investments</option>
                <option value="7">Gifts</option>
                <option value="8">Pocket Money</option>
                <option value="9">Lottery</option>
                <option value="10">Government</option>
            </select>

        </div>
        <div class="FormSubtext">
            <br>How much do<br>
            you receive?
        </div>
        <input type="number" id="incomeAmount" name="incomeAmount" placeholder="$" [(ngModel)]='incomeAmount'>
        <br>
        <div class="FormSubtext">
            <br>How frequent do you<br>
            receive this income?<br>
            (Enter '0' for one time pay)<br>
        </div>
        <input type="number" id="paySchedule" name="paySchedule" placeholder="(Monthly)" min="0" [(ngModel)]='paySchedule'>
        <br><br>
        <input type="submit" id="newIncome" value="Create income" type="reset" (click)='postIncome()'>
    </form>
</div>

<!-- Loan options (View or Create) -->
<div class="Display" style="float: right">
    <p>
        Loan Manager
    </p>

    <div class="ManagerItems">
        <input type="button" id="viewLoan" value="My Loans">
        <input type="button" id="createLoan" value="New Loan">
    </div>
</div>

<!-- Savings options (View or Create) -->
<div class="Display" style="float: left">
    <p>
        Savings Manager
    </p>

    <div class="ManagerItems">
        <input type="button" id="viewSavings" value="My Savings">
        <input type="button" id="createSavings" value="New Savings">
    </div>
</div>

<!-- Expense options (View or Create) -->
<div class="Display" style="float: left">
    <p>
        Expense Manager
    </p>

    <div class="ManagerItems">
        <input type="button" id="viewExpense" value="My Expenses" (click)="getExpenses()">
        <input type="button" id="createExpense" value="New Expense">
    </div>
</div>

<!-- Create new expense -->
<div class="Display" style = "float: right">
    <p>
        Enter your new<br>
        expense information!
    </p>

    <form class="FormItems">
        <div class="FormSubtext">
            <label for="expenseName">Choose an expense:</label>
            <br>
            <select id="expenseName" name="expenseName" [(ngModel)]='expenseId'>
                <option>[Expenses]</option>
                <option value="1">Housing/Rent</option>
                <option value="2">Gas/Travel</option>
                <option value="3">Insurance</option>
                <option value="4">Groceries</option>
                <option value="5">Utility</option>
                <option value="6">Phone</option>
                <option value="7">Pets</option>
                <option value="8">Personal</option>
                <option value="9">Memberships/Subscriptions</option>
                <option value="10">Internet</option>
            </select>

        </div>
        <div class="FormSubtext">
            <br>How much does<br>
            this expense cost?
        </div>
        <input type="number" id="expenseAmount" name="expenseAmount" placeholder="$" min="1" [(ngModel)]='expenseAmount'>
        <div class="FormSubtext">
            <br>How frequent does<br>
            this expense occur?
        </div>
        <input type="number" id="expenseFrequency" name="expenseFrequency" placeholder="(Monthy)" min="1" [(ngModel)]='expenseFrequency'>
        <br>
        <div class="FormSubtext">
            <br>How important is<br>
            this expense?<br>
            [1<sub><small>Very</small></sub> - 5<sub><small>Slightly</small></sub>]
        </div>
        <input type="number" id="expenseSeverity" name="expenseSeverity" placeholder="[1 - 5]" min="1" max="5" [(ngModel)]='expenseSeverity'>
        <div class="FormSubtext">
            <br>When does this<br>
            expense expire?
        </div>
        <input type="date" id="expenseDate" name="expenseDate" [(ngModel)]='expenseDate'>
        <br><br>
        <input type="submit" id="newExpense" value="Create expense" type="reset" (click)='postExpense()'>
    </form>
</div>

<!-- Display list of user expenses -->
<ul class="expenseList">
    <li *ngFor="let expense of expenses">
        <p>=========================</p>
        <p>Name: {{expense.userOptionsId}}</p>
        <p>Amount: {{expense.expenseAmount}}</p>
        <p>Frequency: {{expense.expenseFrequency}}</p>
        <p>Ending: {{expense.expenseEnding}}</p>
        <p>Priority: {{expense.priority}}</p>
    </li>
</ul>
<!-- Display list of user Incomes -->
<ul class="expenseList">
    <li *ngFor="let income of incomes">
        <p>=========================</p>
        <p>Name: {{income.incomeOptions}}</p>
        <p>Amount: {{income.incomeAmount}}</p>
        <p>Pay Schedule: {{income.paySchedule}}</p>
    </li>
</ul>